{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}天气在线查询{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="span5 well pricehover">
			<ul class="nav nav-pills">
				<li><a href="{{url_for('index', _external=True)}}">天气查询</a></li>
				<li><a href="{{url_for('history', _external=True)}}">历史查询</a></li>
				<li class="active"><a href="#">About</a></li>
			</ul>
		</div>
    </div>
</div>
{% endblock %}

{% block page_content %}

<p>版本: 1.0 </p>
<p>程序作者: gzMichael </p>
<p>email: 1960809@qq.com </p>
<p><a href="https://github.com/gzMichael/Py103/tree/master/Chap5/project">程序包地址</a> </p>

{% endblock %}