{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}天气在线查询{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="span5 well pricehover">
			<ul class="nav nav-pills">
				<li class="active"><a href="#">天气查询</a></li>
				<li><a href="{{url_for('history', _external=True)}}">历史查询</a></li>
				<li><a href="{{url_for('about', _external=True)}}">About</a></li>
			</ul>
		</div>
    </div>
</div>
{% endblock %}

{% block page_content %}

	<div class="page-header">
        {{ wtf.quick_form(form) }}
        <br />
        {% if dict_weather_forecast %}
        {% if dict_weather_forecast['status_code'] == '200' %}
        目前数据源切换至OpenWeatherMap，请查询时输入拼音全称。如想查询广州，请输入"guangzhou"。
        {{city_name}} 的天气情况如下： 
        <table class="table table-striped">
            <tbody>
                <tr align="center" valign="middle">
                    <td align="center" valign="middle">今天</td>
                    <td align="center" valign="middle">{{dict_weather_forecast['date_d0']}}</td>
                    <td><img src="./static/{{dict_weather_forecast['weather_code_d0']}}.png" height="30" width="30"></td>
                    <td align="center" valign="middle">{{dict_weather_forecast['weather_d0']}}</td>
                    <td align="center" valign="middle">{{dict_weather_forecast['temp_min_d0']}} ~ {{dict_weather_forecast['temp_max_d0']}} ℃</td>

                </tr>
                <tr align="center" valign="middle">
                    <td align="center" valign="middle">明天</td>
                    <td align="center" valign="middle">{{dict_weather_forecast['date_d1']}}</td>
                    <td><img src="./static/{{dict_weather_forecast['weather_code_d1']}}.png" height="30" width="30"></td>
                    <td align="center" valign="middle">{{dict_weather_forecast['weather_d1']}}</td>
                    <td align="center" valign="middle">{{dict_weather_forecast['temp_min_d1']}} ~ {{dict_weather_forecast['temp_max_d1']}} ℃</td>
                </tr>            
                <tr align="center" valign="middle">
                    <td align="center" valign="middle">后天</td>
                    <td align="center" valign="middle">{{dict_weather_forecast['date_d2']}}</td>
                    <td><img src="./static/{{dict_weather_forecast['weather_code_d2']}}.png" height="30" width="30"></td>
                    <td align="center" valign="middle">{{dict_weather_forecast['weather_d2']}}</td>
                    <td align="center" valign="middle">{{dict_weather_forecast['temp_min_d2']}} ~ {{dict_weather_forecast['temp_max_d2']}} ℃</td>
                </tr>
            </tbody>
        </table>  
        {% endif %}
        {% if dict_weather_forecast['status_code'] == '404' or dict_weather_forecast['status_code'] == '502' %}
        查询错误：{{dict_weather_forecast['message']}}
        {% endif %}
        {% endif %}
    </div>
    
{% endblock %}
